.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}